<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-bg">
    <%= image_tag "Rectangle 57.svg", alt: "Workshop background", class: "hero-bg-image" %>
  </div>
  <div class="hero-content-box">
    <h1 class="hero-title">Find the best lawn mower repair<br>shops in Denver, Colorado</h1>
    <span class="hero-badge"><strong>22</strong> <span> near you </span></span>
  </div>
</section>

